*{ margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;}
body{ background-color: rgb(32, 151, 112);justify-content: center;}
/*header*/
 header { background-color: aquamarine;
padding: 20px;
margin:10px;
display: flex;
justify-content: space-between;
border-radius: 10px;}
 header div img {width:650px;
     height: 300px;
     margin:10px ;
    border-radius: 10px;}
 header div  h1{ font-size: 80px;
     color: darkorange; }
 header  nav { background-color: darkorange; 
     margin:5px ;
     padding: 10px;
      box-sizing: border-box;
       font-size: 20px;
        width: 400px;
    border-radius: 10px;}
 header nav ul { list-style: none; }
 header div nav ul li button {  background-color: rgb(156, 78, 156) ;
     font-size: 30px;
     padding: 20px;
     margin:20px;
     width:300px;
    border-radius: 10px;}
 header div nav ul li button a{font-size:  30px;
     color: rgb(44, 5, 44); 
     list-style: none;
     font-family: 'Courier New', Courier, monospace;
text-decoration: none; }
header button:hover { background-color: chartreuse;} 
/*main */ 
/* primer sección "sintesis"*/
.review { background-color: yellow;
                 margin:20px;
                 padding:40px; border-radius: 10px;}
h2{ font-size: 60px;
    color:purple;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
p { font-size: 30px; }
/*segunda sección "personajes"*/
.characters h3 { font-size: 60px;
    text-align: center;
    color:purple;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#characters-grid{ padding: 30px;
                   margin: 15px;
                  display:flex;
                flex-wrap: wrap;
                gap:10px;}
.character-card { background-color:yellow;
    text-align: center; 
    padding: 20px;
     border-radius: 10px;
      width:400px;
      margin: 20px;
      font-size: 2px;}
.character-card img { width: 200px;
    border-radius: 50%;}
.character-card h3 { font-size: 30px;color:blueviolet;}
.character-card p { font-size: 20px;}
.character-card:hover { background-color: chartreuse;}
/* tercer sección "temporadas"*/
.seasons { background-color: yellow; padding: 30px; margin: 10px; border-radius: 10px;}
.seasons div button { padding: 10px; background-color: peru;border-radius: 10px;}
.container-card {background-color: purple; 
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 1850px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px; }
.grid-item-1 img { background-color: yellow;
    margin:40px ;
    padding: 35px; 
    width: 500px;
    height: 400px; 
    justify-content: space-between; 
    border-radius: 10px;}
.seasons  button a { background-color: coral;
        font-size: 30px; }
 .seasons button:hover { background-color:chartreuse ;}
/*footer*/
footer { background-color: coral;
margin: 30px;
padding: 50px;
font-size: 15px;
display:flex;
flex-wrap: wrap;
justify-content:space-between ;
align-items: center;
border-radius: 10px;}
nav{ list-style: none;}
footer div h3 { font-size: 50px; 
    color: purple;}
footer div ul li { list-style: none;}
footer div ul li button { background-color: mediumpurple;border-radius: 10%;
    font-size: 35px; padding: 10px; margin: 10px; text-decoration: none;}
footer div p { color:purple;}
footer div p button { background-color: aquamarine; padding: 5px; font-size: 15px; border-radius: 10%;}
/*responsive design*/
 @media (max-width:880px){ 
header { flex-direction: column;}
 main{ flex-direction: column;}
.container-card { display: flex; width: 860px; padding: 5px;margin: 5px;}
.grid-item {margin: 10px; ; width:400px ;justify-content: space-between; }
.container-card-1 { flex-direction:column ;width: 850px;}
.grid-item-1 { flex-direction: column; flex-wrap: wrap; width: 700px; justify-content: center;}
 }

 @media ( max-width:480px ){     
header { background-color: red ;
    flex-direction: column;
    gap:10px ; justify-content: center; 
    }
 header div img { width: 400px }
 header ul{flex-direction: column;   } 
 main {flex-direction: column;flex-wrap: wrap; }
.container-card { flex-direction: column;width: 460px;}
.grid-item { width:420px; margin:10px;}
.container-card-1 { flex-direction: column; width: 460px;margin:5px; padding: 30px;flex-wrap: wrap;justify-content: center; }
.grid-item-1 img{ flex-direction: column ; width: 340px; height: 300px; margin: 5px;padding: 5px;  flex-wrap: wrap ;}
}
 